<nav class="light-green lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><a href="#"
        class="brand-logo center"><img src="public/assets/images/recyclelogo.jpg" width="60" height="60"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#"></a></li>
      </ul>
      
      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center light-green-text go-green">Be-Green</h1>
    <div class="row center">
      <h5 class="header col s12 light">Change your habits. Change the world.</h5>
    </div>
    <div class="row center">
      <a href="/login" id="download-button"
        class="btn-large waves-effect waves-light get-started">Login/Register</a>
    </div>
    <br><br>
    
  </div>
</div>
<div class="container">
  <div class="section">
    
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">How To Recycle</h5>
          
          <p class="light">Take a look.</p>
        </div>
        <ul id="navigation">
          <li><a href="#">Materials &raquo;</a>
            <ul>
              <li><a href="#">Aluminum</a></li>
              <li><a href="#">Plastic</a></li>
              <li><a href="#">Other &raquo;</a>
                <ul>
                  <li><a href="#">Other 1</a></li>
                  <li><a href="#">Other 2</a></li>
                  <li><a href="#">Other 3</a></li>
                  <li><a href="#">Other 4</a></li>
                </ul>
              </li>
            </ul>
          </li>
          </li>
      </div>
      
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <a href="/map"><h5 class="center">Find Recyle Locations Near You</h5></a>
          
          <p class="light">Here and here.</p>
        </div>
        <ul id="navigation">
          <li><a href="#">Materials &raquo;</a>
            <ul>
              <li><a href="#">Aluminum</a></li>
              <li><a href="#">Plastic</a></li>
              <li><a href="#">Other &raquo;</a>
                <ul>
                  <li><a href="#">Other 1</a></li>
                  <li><a href="#">Other 2</a></li>
                  <li><a href="#">Other 3</a></li>
                  <li><a href="#">Other 4</a></li>
                </ul>
              </li>
            </ul>
          </li>
          </li>
      </div>
      
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <a href="/messages"><h5 class="center">Message Board</h5></a>
          
          <p class="light">Chat it up.</p>
        </div>
      </div>
      <ul id="navigation">
        <li><a href="#">Materials &raquo;</a>
          <ul>
            <li><a href="#">Aluminum</a></li>
            <li><a href="#">Plastic</a></li>
            <li><a href="#">Other &raquo;</a>
              <ul>
                <li><a href="#">Other 1</a></li>
                <li><a href="#">Other 2</a></li>
                <li><a href="#">Other 3</a></li>
                <li><a href="#">Other 4</a></li>
              </ul>
            </li>
          </ul>
        </li>
        </li>
    </div>
    
  </div>
  <br><br>
</div>
<h2 style="text-align:center">Slideshow Gallery</h2>
<div class="container">
  <div class="mySlides">
    <div class="numbertext">1 / 6</div>
    <img src="public/assets/images/owlartcraft.jpg" style="width:30%">
  </div>
  <div class="mySlides">
    <div class="numbertext">2 / 6</div>
    <img src="public/assets/images/bottleholder.jpg" style="width:30%">
  </div>
  <div class="mySlides">
    <div class="numbertext">3 / 6</div>
    <img src="" style="width:100%">
  </div>
  <div class="mySlides">
    <div class="numbertext">4 / 6</div>
    <img src="" style="width:100%">
  </div>
  <div class="mySlides">
    <div class="numbertext">5 / 6</div>
    <img src="" style="width:100%">
  </div>
  <div class="mySlides">
    <div class="numbertext">6 / 6</div>
    <img src="" style="width:100%">
  </div>
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>
  <div class="caption-container">
    <p id="caption"></p>
  </div>
  <div class="row">
    <div class="column">
      <img class="demo cursor" src="public/assets/images/owlartcraft.jpg" style="width:100%" onclick="currentSlide(1)"
        alt="Owl Decoration Project">
    </div>
    <div class="column">
      <img class="demo cursor" src="public/assets/images/bottleholder.jpg" style="width:100%" onclick="currentSlide(2)"
        alt="Pen Holder Project">
    </div>
    <div class="column">
      <img class="demo cursor" src="" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
    </div>
    <div class="column">
      <img class="demo cursor" src="" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
    </div>
    <div class="column">
      <img class="demo cursor" src="" style="width:100%" onclick="currentSlide(5)" alt="Nature and sunrise">
    </div>
    <div class="column">
      <img class="demo cursor" src="" style="width:100%" onclick="currentSlide(6)" alt="Snowy Mountains">
    </div>
  </div>
</div>
<script>
  var slideIndex = 1;
  showSlides(slideIndex);
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }
  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    var captionText = document.getElementById("caption");
    if (n > slides.length) { slideIndex = 1 }
    if (n < 1) { slideIndex = slides.length }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
    captionText.innerHTML = dots[slideIndex - 1].alt;
  }
</script>
<footer class="page-footer light-blue">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">Pure Awesomeness.</p>
        
        
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Email</a></li>
          <li><a class="white-text" href="#!">Linkden</a></li>
          <li><a class="white-text" href="#!">Instagram</a></li>
          <li><a class="white-text" href="#!">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Created by <a class="orange-text text-lighten-3" href="http://materializecss.com">Go-Green</a>
    </div>
  </div>
</footer>