<div class="container">
    <div class="row">
        <div class="col s1"></div>
        <div class="col s4">
            <a href="/">
                <h1 class="title">Be Green</h1>
            </a>
        </div>
        <div class="col s2">
            <i class="fas fa-leaf fa-4x"></i>
        </div>
        <div class="col s5"></div>
    </div>
    <br>

    <div class="row">
        <div class="col s4"></div>
        <div class="col s6">
            <ul class="collection with-header" id="current-profile">
                 <li class="collection-header"><h4>John Doe</h4>
                    <img src="https://pecb.com/conferences/wp-content/uploads/2017/10/no-profile-picture.jpg"
                        class="profile-pic"></h4> <a class="btn btn-flat green" id="edit-profile">Edit Profile</a>
                </li>
                <li class="collection-item"><i class="material-icons">email</i> john.doe@email.com</li>
                <li class="collection-item"><i class="material-icons">phone</i> 555-555-555</li>
                <li class="collection-item"><i class="material-icons">home</i> 123 Main St<br></li>
                <li class="collection-item"><i class="material-icons">favorite</i>
                    <a href="http://www.coloradorolloffllc.com/"> Rolloff And Recycling Services</a>
                    <br>
                    <a href="https://frontrangerecycling.com/"> Front Range Recycling</a></li>
                <li class="collection-item"><i class="material-icons">star</i>
                    <img src="https://gamepedia.cursecdn.com/cryofall_gamepedia_en/d/d7/Empty_Bottle_Icon.png"
                        class="trophy"></img>
                    <a class=" tooltipped" data-position="bottom" data-tooltip="I am a tooltip"><img src="https://secure.webtoolhub.com/static/resources/icons/set33/9da7184a.png"
                        class="trophy"></img></a>
                </li>
            </ul>
        </div>
        <div class="col s2"></div>
    </div>

    <div class="row hide" id="updated-profile">
        <div class="col s4"></div>
        <form class="col s7">
            <div class="row">
                <div class="col s3"></div>
                <div class="input-field col s6">
                    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="row"></div>
                <div class="col s3"></div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>

            <div class="row">
                <div class="col s3"></div>
                <div class="input-field col s6">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="col s3"></div>
                <div class="input-field col s6">
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
        </form>
        <div class="col s1"></div>
    </div>

    <ul id="slide-out" class="sidenav sidenav-fixed">
        <i class="fas fa-recycle fa-3x"></i>
        <li><a href="/map">Find a Recycling Center</a></li>
        <i class="far fa-lightbulb fa-3x"></i>
        <li><a href="/tips">Recycling Tips</a></li>
    </ul>
    {{!-- <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a> --}}
</div>
</div>