<div class="container">
    <div class="row">
        <div class="col s1"></div>
        <div class="col s4">
            <a href="/">
                <a href="/">
                    <h1 class="title">Be Green</h1>
                </a>
            </a>
        </div>
        <div class="col s2">
            <i class="fas fa-leaf fa-4x"></i>
        </div>
        <div class="col s5"></div>
    </div>
    <br>

<h6 id="tips">Recycling Tips For:</h6>
    <div class="row">
        <div class="col s2"></div>
        <div class="col s3">
            <div class="card z-depth-5">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator "
                        src="https://www.fayetteville-ar.gov/ImageRepository/Document?documentID=13193">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">GLASS</span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">GLASS<i
                            class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        <div class="col s3">
            <div class="card z-depth-5">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator "
                        src="https://images.squarespace-cdn.com/content/v1/57f7d7f5e3df282d0f645bf7/1508250371074-BAXAOX1L2VNDOF2CZ5OF/ke17ZwdGBToddI8pDm48kITWN3oEA4rUUI8MhSia8kNZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PIy2yv-AgKO3Qpm8hxuivdZ6m2_Xcr2MBpVQloVcsOYVk/image-asset.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">PLASTIC</span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">PLASTIC<i
                            class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        <div class="col s3">
            <div class="card z-depth-5">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator "
                        src="https://lh3.googleusercontent.com/proxy/z0HzSiwh2NXRjGCawPUOQEqnTCLp3XCXPFE5bsVw77u2ddGvGD6YfbwqtGGBWwKvEoLuQddot0clOeZ-uN2oGBqYujQJBZ2FPkcPiccchzC3u1xChoUhkSCskw">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">METAL</span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">METAL<i
                            class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        <div class="col s1"></div>
    </div>

    <div class="row">
        <div class="col s3"></div>
        <div class="col s6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7UuUeoyYmxI" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="col s3"></div>
    </div>


    <ul id="slide-out" class="sidenav sidenav-fixed">
        <i class="fas fa-recycle fa-3x"></i>
        <li><a href="/map">Find a Recycling Center</a></li>
        <i class="far fa-lightbulb fa-3x"></i>
        <li><a href="/tips">Recycling Tips</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
</div>